In [1]:
import pandas as pd

create a one dimensional serires

In [2]:
lists = [1,2,3,4,5]

In [5]:
sr = pd.Series(lists)

In [6]:
sr

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
# managing indexing

In [16]:
sr = pd.Series(lists, index=['a','b','c','d','e'], dtype='float', name='Series DataFrame')
sr

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: Series DataFrame, dtype: float64

In [31]:
data = {
    'name':['pune', 'mumbai', 'akola', 'satara'],
    'kilometer':[500,600,550,700]
}

In [32]:
data = pd.Series(data)
data

name         [pune, mumbai, akola, satara]
kilometer             [500, 600, 550, 700]
dtype: object

In [ ]:
pandas data structures
series   line | column
dataframe  2D rows columns
panel   multiple dataframe 3D

In [2]:
# Series

In [32]:
lis = [1,2,3,4,5]

In [33]:
import pandas as pd

In [54]:
ser = pd.Series(data=lis, dtype='int64', copy=True)

In [55]:
ser

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [56]:
c = ser.copy()

In [57]:
c

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [51]:
b

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
ser = pd.Series(data=lis, index=['a', 'b', 'c', 'd', 'e'])

In [11]:
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [26]:
lis = {
    0:10,
    1:11,
    2: 22,
    3: 33,
}

In [27]:
s = pd.Series(data=lis, index=[0,1,2,3,4])

In [28]:
s.dtype

dtype('float64')

In [44]:
ser = pd.Series(data=lis, index=[0,1,2,3,4], dtype='int', name='1d series', copy=True)

In [46]:
ser

0    1
1    2
2    3
3    4
4    5
Name: 1d series, dtype: int32

In [31]:
s

0    10.0
1    11.0
2    22.0
3    33.0
4     NaN
dtype: float64