In [1]:
import pandas as pd

In [2]:
ser = {
    'a': pd.Series([1,2,3,4,5]),
    'b': pd.Series([10,20,30,40,50])
}

In [7]:
df = pd.DataFrame(data=ser)

In [8]:
df

   a   b
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

In [13]:
df.to_csv('simple data frame.csv', index=False, header=['first', 'second'])