In [26]:
import pandas as pd

In [19]:
col = ['first']
df = pd.read_csv("simple data frame.csv", nrows=3, usecols=[0,1])

In [20]:
df

   first  second
0      1      10
1      2      20
2      3      30

In [30]:
df = pd.read_csv("simple data frame.csv", dtype={"first":"float"})

In [29]:
df

   first  second
0    1.0      10
1    2.0      20
2    3.0      30
3    4.0      40
4    5.0      50